vaultcloud security project.md
credentials QLabs.json
.aws_vaultcloud_breachzone_project_scope_vulnearability_management_plan.md

vulnerability-management/before-after-tracking.md
vulnerability-management/container-scan-baseline.txt
vulnerability-management/deliverable4.sh
vulnerability-management/results/scan-*.txt
vulnerability-management/results/gate-*.txt
vulnerability-management/results/secret-*.txt
vulnerability-management/results/fs-*.txt

infra/breach-zone/output/*
infra/breach-zone/.terraform/*

docker-compose.override.yml
*.tfstate
*.tfstate.backup
.terraform/
__pycache__/
*.pyc
.env
.vscode/
.idea/
.DS_Store
